
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
CHAIN_ID=84532


DEPLOYER_PRIVATE_KEY=
DEMO_POSTER_PRIVATE_KEY=
DEMO_HUNTER_PRIVATE_KEY=
DEMO_HUNTER_2_PRIVATE_KEY=


ENS_REGISTRY_ADDRESS=


BITGO_ACCESS_TOKEN=
BITGO_ENTERPRISE_ID=
BITGO_WALLET_ID=

IPFS_API_KEY=
IPFS_API_SECRET=
IPFS_GATEWAY_URL=

# ---- Optional ----
BASESCAN_API_KEY=
